.category-content{
    height: auto;
}
.category-title{
    text-align: center;
    margin-top: 5px;
    color: rgb(100, 104, 121);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @media (min-width: 1024px) {
        font-size: 48px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        font-size: 38px;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 38px;
    }
}






