.content-header-container{
    margin-top: 40px;
    padding: 20px;
    .header{
        &-title{
            &-container{
                height: auto;
            }
        }
        &-img{
            max-width: 100%;
            background-size: cover;
            background-color: brown;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    
    @media (min-width: 320px) and (max-width: 480px) {
        margin-top: 0px;
    }
}
